<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">
              <i class="fas fa-user"></i>Thông tin cá nhân
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">
              <i class="fas fa-sign-out-alt"></i>Đăng xuất
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Tài khoản cá nhân</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-6">
            <div class="media">
              <div class="media-body">
                <h1>Xin chào: <strong>{{user.email}}</strong></h1>
                <p>Mã khách hàng: <strong>{{user.uid}}</strong></p>
                <p>Họ và tên: <strong>{{ displayName }}</strong></p>
                <p>Địa chỉ: <strong>{{address}}</strong></p>
                <p>Số điện thoại: <strong>{{phone}}</strong></p>
              </div>
            </div>
            <button (click)="toggleEditMode()" class="edit-btn">Sửa thông tin cá nhân</button>
          </div>
          <div *ngIf="isEditMode" class="edit-form col-md-6">
            <form (submit)="savePersonalInfo()">
              <div class="form-group">
                <label for="displayName">Họ và tên:</label>
                <input type="text" id="displayName" name="userName" [(ngModel)]="userName" class="form-control">
              </div>
              <div class="form-group">
                <label for="address">Địa chỉ:</label>
                <input type="text" id="address" name="userAddress" [(ngModel)]="userAddress" class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">Số điện thoại:</label>
                <input type="text" id="phone" name="userPhone" [(ngModel)]="userPhone" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Lưu thông tin</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<app-footer></app-footer>
