<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Cám ơn bạn đã đăng ký</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Đã gửi Email xác nhận đến: <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Kiểm tra hòm thư của bạn và xác nhận tài khoản</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Gửi lại Email
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Quay về: <span class="redirect" routerLink="/login">Đăng nhập</span></span>
      </div>
    </div>
  </div>