<app-header></app-header>
<app-admin-nav></app-admin-nav>
<div class="container" style="margin-top: 20px;">

    <div>
        <h5 class="text-danger" style="font-size: 20px; margin-top: 10px;">Danh
            sách sản phẩm</h5>
        <div class="card p-3 shadow">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Id</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Tổng</th>
                            <th scope="col">Người mua</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ItemList"
                             style="text-align:
                            center; cursor: pointer;">
                            <td>{{item.id}}</td>
                            <td>{{item.describe}}</td>
                            <td>{{ item.orderTime.toDate() | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.buyer.displayName ? item.buyer.displayName : item.buyer.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
