@media (max-width: 430px)
{
    .card-body{
        padding: 0;
    }

    th{
        font-size: 10px;
    }

    td{
        font-size: 10px;
    }
    .container {
      margin-left: 50px;
    }


}
