<section class="footer-top">
    <div class="containers">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-logo">
            <img src="../assets/SK_Telecom_T1_logo.png" alt="">
          </div>
          <div class="footer-top-menu">
            <ul>
              <li>
                <i class="fa-solid fa-home"></i>
                <span class="heading">Địa chỉ: </span>
                <span class="address">828 Sư Vạn Hạnh Q10</span>
              </li>

              <li>
                <i class="fa-solid fa-envelope"></i>
                <span class="heading">Mail Us: </span>
                <span class="email">
                  <a href="mailto:20DH110391@st.huflit.edu.vn">20DH110391@st.huflit.edu.vn</a>
                </span>
              </li>
              <li>
                <i class="fa-solid fa-phone"></i>
                <span class="heading">Phone: </span>
                <span class="number">
                  <a href="tel:1234567890">1234567890</a>
                </span>
              </li>
              <li style="display: flex;">
                <a href="">
                  <img src="../assets/moca-logo.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/alepay-logo.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/zalopay-logo.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/vnpay-logo.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-all-menu">
            <h2>Về chúng tôi</h2>
            <ul>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Giới thiệu về công ty</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Chính sách bảo mật</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Quy chế hoạt động</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Kiểm tra hoá đơn điện tử</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Tra cứu thông tin bảo hành</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Câu hỏi thường gặp khi mua hàng</a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-all-menu">
            <h2>Tin tức</h2>
            <ul>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Tin tuyển dụng</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Tin khuyến mãi</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Hướng dẫn mua hàng</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Hướng dẫn mua trả góp</a>
              </li>
              <li>
                <i class="fa-solid fa-circle"></i>
                <a href="">Chính sách trả góp</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-middle">
    <div class="containers">
      <div class="row">
        <div class="col-md-4">
          <h2>Đăng ký nhận ưu đãi</h2>
        </div>
        <div class="col-md-4">
          <input type="mail" class="input" placeholder="Email">
          <button type="button" class="btn"><i class="fa-solid fa-location-arrow"></i></button>
        </div>
        <div class="col-md-4">
          <div class="social text-center">
            <ul>
              <li>
                <a href=""><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-telegram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
