<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Quên mật khẩu</h3>
        <p class="text-center">Nhập Email để lấy lại mật khẩu</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Địa chỉ email" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Khôi phục mật khẩu" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Quay về <span class="redirect" routerLink="/login">Đăng nhập</span></span>
      </div>
    </div>
  </div>
