/* CSS cho các nút sắp xếp */
.sort-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

.order-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  margin-left: 210px;
}

.order-container {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 500px;
  border-radius: 10px;
}

/* CSS cho phần chi tiết đơn hàng */
.order-item {
  position: relative;
}

.order-item p {
  font-size: 18px;
  font-weight: 500;
}

.order-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 170px;
  font-size: 15px;
  font-weight: 600;
}

/* CSS cho phần chi tiết đơn hàng */
.order-details {
  position: fixed;
  top: 235px;
  right: 0;
  width: 480px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 6;
}

.pagination {
  position: relative;
  margin-left: 350px;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .btn {
    margin-left: 110px !important;
  }
  .sort-button {
    font-size: 10px;
  }
  .order-item p {
    font-size: 13px;
  }
  .order-container {
    width: 350px;
    margin: 10px;
  }
  .order-item button {
    font-size: 10px;
    padding: 6px 12px;
    margin-left: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .sort-button {
    font-size: 9px;
  }
  .btn {
    margin-left: 35px !important;
  }
  .order-item p {
    font-size: 12px;
  }
  .order-container {
    width: 300px;
    margin: 5px;
  }
  .order-item button {
    font-size: 8px;
    padding: 5px 10px;
    margin-left: 100px;
  }
  .pagination{
    font-size: 10px;
    margin-right: 50px;
  }
}
/* Điều chỉnh giao diện cho màn hình có chiều rộng tối đa là 425px */
@media only screen and (max-width: 430px) {
  .sort-button {
    font-size: 9px;
    font-weight: 700;
  }

  .order-item button {
    margin-left: 155px;
  }
  .order-container {
    width: 400px;
  }

  .order-container p {
    font-size: 15px;
  }

  .order-details {
    position: unset;
    width: 400px;
    margin-left: 13px; /* Tạo khoảng cách trên thông tin chi tiết đơn hàng */
  }

  .pagination {
    margin-left: 20px; /* Canh giữa phân trang */
    font-size: 9px;
  }
  .order-row{
    margin-left: 80px;
  }
}
